[submodule "Snowstorm-Core/Vendor/spdlog"]
	path = Snowstorm-Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Snowstorm-Core/Vendor/imgui"]
	path = Snowstorm-Core/Vendor/imgui
	url = https://github.com/MegatronJeremy/imgui
[submodule "Snowstorm-Core/Vendor/GLFW"]
	path = Snowstorm-Core/Vendor/GLFW
	url = https://github.com/MegatronJeremy/GLFW
[submodule "Snowstorm-Core/Vendor/glm"]
	path = Snowstorm-Core/Vendor/glm
	url = https://github.com/MegatronJeremy/glm
[submodule "Snowstorm-Core/Vendor/Vulkan-Headers"]
	path = Snowstorm-Core/Vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Snowstorm-Core/Vendor/Vulkan-Loader"]
	path = Snowstorm-Core/Vendor/Vulkan-Loader
	url = https://github.com/MegatronJeremy/Vulkan-Loader
