[submodule "Snowstorm-Core/Vendor/glm"]
	path = Snowstorm-Core/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Snowstorm-Core/Vendor/GLFW"]
	path = Snowstorm-Core/Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Snowstorm-Core/Vendor/spdlog"]
	path = Snowstorm-Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Snowstorm-Core/Vendor/imgui"]
	path = Snowstorm-Core/Vendor/imgui
	url = https://github.com/ocornut/imgui
